*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins',sans-serif;
}

body{
  background:#0f0f0f;
  color:#fff;
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

.wrapper{
  width:1150px;
  height:650px;
  display:flex;
  background:#1a1a1a;
  box-shadow:0 30px 80px rgba(0,0,0,.7);
}

/* SIDEBAR */
.sidebar{
  width:80px;
  background:#111;
  display:flex;
  flex-direction:column;
  align-items:center;
  padding:25px 0;
}

.logo{
  color:#00c8ff;
  font-weight:700;
  margin-bottom:40px;
}

.icons{
  display:flex;
  flex-direction:column;
  gap:25px;
}

.icons a{
  width:40px;
  height:40px;
  border:1px solid #333;
  border-radius:10px;
  display:flex;
  align-items:center;
  justify-content:center;
  text-decoration:none;
  color:#aaa;
  transition:.3s;
}

.icons a:hover,
.icons a.active{
  color:#00c8ff;
  border-color:#00c8ff;
}

.download{
  margin-top:auto;
  color:#00c8ff;
  font-size:20px;
  text-decoration:none;
}

/* PROFILE */
.profile{
  width:320px;
  background:#151515;
  padding:40px 25px;
  text-align:center;
}

.profile img{
  width:180px;
  height:230px;
  object-fit:cover;
  border-radius:10px;
}

.profile h2{
  margin-top:15px;
}

.role{
  color:#00c8ff;
  font-size:14px;
}

.socials{
  margin-top:15px;
}

.socials a{
  margin:0 8px;
  color:#aaa;
  font-size:18px;
}

/* CONTENT */
.content{
  flex:1;
  padding:45px;
  overflow-y:auto;
}

h1{
  font-size:42px;
  text-transform:lowercase;
}

.meta{
  color:#00c8ff;
  font-size:14px;
  margin:10px 0 15px;
}

.desc{
  font-size:14px;
  line-height:1.7;
  color:#ccc;
}

h3{
  margin-bottom:10px;
  text-transform:lowercase;
}

hr{
  border:none;
  border-top:1px solid #333;
  margin:25px 0;
}

/* READ MORE */
.read-more{
  display:inline-block;
  margin-top:15px;
  padding:10px 24px;
  border:1px solid #00c8ff;
  border-radius:8px;
  color:#00c8ff;
  text-decoration:none;
  transition:.3s;
}

.read-more:hover{
  background:#00c8ff;
  color:#000;
}

/* SKILLS */
.skill{
  margin-bottom:15px;
}

.skill span{
  font-size:13px;
}

.bar{
  height:6px;
  background:#333;
  border-radius:5px;
  margin-top:6px;
  overflow:hidden;
}

.bar span{
  height:100%;
  display:block;
  width:0;
  background:#00c8ff;
  transition:1.2s ease;
}
