* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  background: url("Unit.jpg") no-repeat center / cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 92%;
  height: 88%;
  background: rgba(0,0,0,0.78);
  border-radius: 22px;
  padding: 35px 55px;
  color: white;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.logo {
  font-size: 22px;
  font-weight: 600;
  color: #bfbfbf;
}

.nav-links a {
  margin-left: 25px;
  text-decoration: none;
  color: #bfbfbf;
  font-size: 14px;
}

.nav-links a.active,
.nav-links a:hover {
  color: #00aaff;
}

/* MAIN */
.hero {
  display: grid;
  grid-template-columns: 1.2fr 0.8fr;
  height: 100%;
}

/* TERMS */
.terms {
  display: flex;
  gap: 200px;
}

.term h2 {
  font-size: 26px;
  margin-bottom: 25px;
}

.unit {
  text-align: center;
  margin-bottom: 35px;
}

.unit img {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 8px;
}

.unit p {
  margin-top: 12px;
  font-size: 14px;
  cursor: pointer;
}

.unit p:hover {
  color: #00aaff;
  text-decoration: underline;
}

/* PROFILE */
.hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 360px;
  height: 360px;
  border-radius: 50%;
  overflow: hidden;
}

.circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%);
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .hero {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .terms {
    justify-content: center;
  }

  .circle {
    width: 260px;
    height: 260px;
    margin-top: 40px;
  }
}
